<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="LogSign.css" />
    <title>Login/Signup</title>
  </head>
  <body>
    <a href="../index.php"><i class="fa-solid fa-house-chimney" style="float: right;"></i ></a>
    <div class="container">
      <h1>Welcome Back!</h1>
      <br />
      <br />
      <p>You are?</p>
      <br />
      <div>
        <a href="Customer/Login.php">Login as Customer</a>
        <!--<a href="Admin/Login.php">Login as Admin</a>-->
        <a href="Planner/Login.php">Login as Planner</a>
        <a href="NGO/Login.php">Login as NGO</a>
      </div>
    </div>
  </body>
</html>